* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #F2F2F2;
}
h1 {
    padding: 0px 40px;
}
header {
    color: white;
    background-color: #002C61;
    width: inherit;
    padding: 0rem 1rem;
    .main {
        display: grid;
        grid-template-columns: 63% auto ;
        grid-template-rows:auto;
        width: inherit;
        justify-content:space-around;
        align-items: center;
        img {
            width: 350px;
            height: 100px;
            margin-top:20px;
        }
    }
}
#quienesSomos {
    display: grid;
    grid-template-areas:
    "title title"
    "historia aside"
    "footer footer";
    grid-template-columns: 60% 25%;
    grid-template-rows: 16% 60% auto ;
    grid-column-gap: 10px;
    height: 70vh;
    justify-content: center;
}
aside {
    border: 1px solid black;
    margin: 0px 10px;

}
section#historia{
    grid-area:historia;
    font-size: 16px;
    color: black;
    background-color: #F2F2F2;
    padding: 0px 10px 0px 15px;
    margin: 2px 20px;
    text-align: justify;
    border-left: 2px solid #D92929;
}
h2#title {
    grid-area: title;
    padding: 0 10px;
    margin: 0px;
    align-self: center;
}
footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    color: black;
    background-color: #002C61;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        font-size: 11px;
        li {
            padding: 5px 2px;
            margin: 10px 2px;
            img {
                width: 18px;
                height: 18px;
                margin: 2px;
            }
            a {
                color:white;
                font-style: normal;
                text-decoration: none;
                
            }
            a:hover {
                color:white;
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    body {
        background-color: #F2F2F2;
    }
    h1 {
        display: none;
    }
    header {
        color: white;
        background-color: #002C61;
        width: inherit;
        .main {
            display: grid;
            grid-template-columns: auto ;
            width: inherit;
            justify-content: center;
            align-items: center;
            img {
                width: 18rem;
                height: 5rem;
            }
        }
    }
    h2 {
        display: none;
    }
    #quienesSomos {
        display: grid;
        grid-template-areas:
        "historia"
        "aside"
        "footer";
        grid-template-columns: 95%;
        grid-template-rows: 50% 40% auto  ;
        grid-row-gap: 1.25rem;
        height: 138vh;
        justify-content: center;
    }
    aside {
        display: none;
    }
    section#historia{
        grid-area:historia;
        font-size: 1rem;
        color: black;
        background-color: #F2F2F2;
        padding: 0rem 0.5rem 0rem 1rem;
        margin: 0.5rem 1rem;
        text-align: justify;
        border-left: 0.125rem solid #D92929;
    }
    footer {
        bottom: 0;
        position: fixed;
        width: 100%;
        color: black;
        background-color: #002C61;
        padding-left: 0rem;

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            font-size: 0.7rem;
            padding-left: 0rem;

            li {
                padding: 0.5rem;
                margin: 0.5rem;
                img {
                    display: none;
                }
                a {
                    color:white;
                    font-style: normal;
                    text-decoration: none;
                    
                }
                a:hover {
                    color:white;
                }
            }
        }
    }
}



